<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="spring fast starter application"/>
    <meta name="author" content="softwarepassion.com"/>
    <link rel="icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}"/>

    <title>Dashboard Spring Fast Starter Application</title>

    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' th:href='@{/webjars/bootstrap/3.1.0/css/bootstrap.min.css}'/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="/css/ie10-viewport-bug-workaround.css"
          th:href="@{/css/ie10-viewport-bug-workaround.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script><![endif]-->
    <script th:src="@{/js/ie-emulation-modes-warning.js}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:src='@{/webjars/jquery/3.1.0/jquery.min.js}'></script>
    <script th:src='@{/webjars/bootstrap/3.1.0/js/bootstrap.min.js}'></script>
</head>

<body>
<div th:replace="fragments/navigation :: navigation">########## Navigation Content ############</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                         width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"/>
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                </div>
            </div>

            <h2 class="sub-header">Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><a class="sorted">ID</a></th>
                        <th><a class="sorted">First Name</a></th>
                        <th><a class="sorted">Last Name</a></th>
                        <th><a class="sorted">Email</a></th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row : ${page}">
                        <th th:text="${row.id}">Id</th>
                        <td th:text="${row.firstName}">Last Name</td>
                        <td th:text="${row.lastName}">Last Name</td>
                        <td th:text="${row.email}">Last Name</td>
                        <td><a href="#">edit</a></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="table-pagination">
                        <ul class="pagination">
                            <li th:class="${page.number eq 0} ? 'disabled' : ''">
                                <a th:if="${not page.isFirst()}" th:href="@{${'/user/index'}(page=${page.number-1},size=${page.size})}">Previous</a>
                                <a th:if="${page.isFirst()}" href="javascript:void(0);">Previous</a>
                            </li>

                            <li th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number eq pageNo}? 'active' : ''">
                                <a th:if="${page.number  eq pageNo}" href="javascript:void(0);">
                                    <span th:text="${pageNo + 1}"></span>
                                </a>
                                <a th:if="${not (page.number  eq pageNo)}" th:href="@{${'/user/index'}(page=${pageNo},size=${page.size})}">
                                    <span th:text="${pageNo + 1}"></span>
                                </a>

                            </li>
                            <li th:class="${page.number + 1 ge page.totalPages} ? 'disabled' : ''">
                                <a th:if="${not page.isLast()}" th:href="@{${'/user/index'}(page=${page.number+1},size=${page.size})}">Next</a>
                                <a th:if="${page.isLast()}" href="javascript:void(0);">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">########## Footer Content ############</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script th:src='@{/webjars/holderjs/2.5.2/holder.min.js}'></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>
</html>
