<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <ul>
        <li>Go to the <a href="/user/index" th:href="@{/user/index}">secured pages (user)</a></li>
        <li>Go to the <a href="/admin/index" th:href="@{/admin/index}">secured pages (admin)</a></li>
        <li>Register <a href="/register" th:href="@{/register}">new user</a></li>
    </ul>
</div>
</body>
</html>
