<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index" th:href="@{/index}">Project name</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <form name="logoutForm" action="#" th:action="@{/logout}" method="post">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">
                            <span class="profile-img"><img th:src="${loggedInUser.profileImageUrl}"/> </span>
                            <span th:text="${loggedInUser.fullName}"></span>
                            <b class="caret"></b>
                        </a>
                        <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" onclick="document.logoutForm.submit();">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </form>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..."/>
            </form>
        </div>
    </div>
</nav>

</body>
</html>
